.navbar {
  border-bottom: 1px solid #6c757c40;
  .nav-link {
    font-weight: 800;
  }

  .navbar-brand {
    font-weight: 600;
    font-size: 2rem !important;
    transition: 0.3s;
    img {
      width: 3rem;
      margin: 0px 10px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  button {
    display: flex;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    align-items: center;
    svg {
      margin-left: 5px;
    }
  }
  .dropdown-toggle {
    padding: 2px 2px 2px 1rem;
    display: flex;
    align-items: center;
    img {
      margin-left: 0.5rem;
    }
  }
  .dropdown-item {
    display: flex;
    justify-content: center;

    &:hover {
      background: none;
    }
  }
  .dropdown-menu {
    background: none;
    border: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
